#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 2em;
    span {
        text-align: center;
        font-size: 20px;
    }
    input {
        height: 40px;
        margin: 10px 0px;
        text-align: center;
        padding: 0 10px;
        font-size: 18px;
    }
}

.read-the-docs {
    color: #888;
}